header {
  margin-top: 10px;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  display: block;
  margin: 0 auto;
  max-width: 640px;
  width: calc(100% - 60px);
  height: auto;
  box-sizing: border-box;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: 640px;
  padding: 0 30px;
  box-sizing: border-box;
}
/* Container för sökrutan */
.search-product-container {
  flex-grow: 1;
}
.search-input {
  position: relative;
  margin-top: 15px;
  width: 100%;
  max-width: 450px;
}
/* Stil för sökruta */
.search-product-container input {
  width: 100%;
  padding: 15px 15px 15px 50px;
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  background: none;
  font-size: 1em;
}
/* Stil för sökikonen */
.search-product-container img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}
.liked-icon,
.checkout-icon {
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

@media (min-width: 640px) {
  .header-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .logo {
    padding-left: 30px;
    min-width: 200px;
    max-width: 640px;
    height: auto;
  }
  .header-content {
    max-width: 100%;
  }
}

.list {
  display: block;
  list-style-type: none;
  padding: 20px 0px 0px 30px;
}
/* Knappar som inte leder någonstans i nuläget */
.list-button {
  border: none;
  background: none;
  font-size: 1em;
  cursor: pointer;
  position: relative;
}
.list-button::after {
  content: "";
  background: linear-gradient(to right, rgb(237, 236, 236), white);
  height: 100%;
  width: 0px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 150ms ease;
}
.list-button:hover::after {
  width: 100%;
}
@media (min-width: 640px) {
  .list {
    display: flex; /*Gör att det blir en rad istället för block */
  }
}

.product-container {
  margin: 50px 30px 50px 30px;
  display: flex;
  flex-direction: column;
}
.product-img-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.product-img-container img {
  width: 100%;
  height: auto;
}
/*Positionerar knappen i bilden*/
.favorite-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
}
/*Fyller knappen med bilden*/
.favorite-button img {
  width: 100%;
  height: 100%;
}
.product-info {
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: left;
  max-width: 600px;
}
.basket-button {
  margin: 30px 0px 30px 0px;
  border: 0.5px solid black;
  background: none;
  font-size: 1em;
  border-radius: 5px;
  max-width: 640px;
  width: calc(100% - 30px);
  padding: 5px;
  cursor: pointer;
  box-shadow: none;
  transition: 300ms ease;
}
.basket-button:hover {
  border: 0.5px solid black;
  box-shadow: 2px 2px 2px 2px #c1c0c0 inset;
}
@media (min-width: 640px) {
  .product-container {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 40px;
  }
  .product-info {
    max-width: 40%;
    margin-top: 0px;
  }
  .basket-button {
    max-width: 200px;
  }
}

/* Hur fan får man den att inte hamna under footer */
.carousel-inner {
  padding: 0 30px;
}
.similar-product-content {
  transition: 0.3s;
  padding: 15px;
}
.similar-product-content:hover {
  transform: scale(1.05);
}
.similar-product-img-container img {
  width: 100%;
  height: auto;
}
.similar-product-info {
  display: flex;
  justify-content: space-between; /* Gör att texten Svart t-shirt och pris hamnar på olika sidor */
  font-size: 1.25em;
}
.similar-product-content p {
  font-size: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: blue /*!important om man vill se knappens bakgrund*/;
  max-width: 5%;
  filter: invert(1);
}
@media (max-width: 640px) {
  .carousel {
    display: none;
  }
}

.info-list {
  display: block;
  list-style-type: none;
  padding: 30px 0px 30px 0px;
  font-size: 1em;
}
.info-list-button {
  background: none;
  border: none;
}
.info-list a {
  color: black;
  text-decoration: none;
}
.info-list img {
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 0px;
}
@media (min-width: 640px) {
  .info-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
  }
  .info-list li {
    width: calc(50%); /* Två element per rad */
    box-sizing: border-box;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .info-list li {
    width: calc(25%); /* Fyra element per rad */
  }
}

.accordion button {
  color: black !important;
}
.accordion ul {
  list-style-type: none;
  margin-left: -30px;
}
@media (min-width: 640px) {
  .accordion {
    display: none;
  }
}

.table-container {
  width: 100%;
  border: 2px solid black;
  background-color: lightgray;
}
th,
td {
  text-align: left;
  padding: 10px 30px 0;
}
@media (max-width: 640px) {
  .table-container {
    display: none;
  }
}

.footer {
  padding: 30px 0px 50px;
  text-align: center;
}
.footer img {
  width: 25px;
  height: 25px;
}
